@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: whitesmoke;
    margin: 0px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #2B2A33;
    }
}

#question {
    padding: 20px;
    text-align: center;
}

.inline {
    display: inline;
    font-size: min(10vw, 500%)
}

#input {
    border-radius: 5px;
    font-size: min(10vw, 500%);
    text-align: center;
}

#feedback {
    text-align: center;
    font-size: min(5vw, 250%)
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 75vw;
}

#links {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    overflow: hidden;
    height: 20px;
}

.link {
    color: grey;
    padding: 15px;
    font-size: 0.9em;
}

.link:visited {
    color: gray;
}

.link:hover {
    color: rgb(0, 149, 255);
}

/* Hide number input arrows */
/* https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}