body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #2B2A33;
}

#question {
    padding: 20px;
    text-align: center;
}

.inline {
    display: inline;
    font-size: 200%;
}

#input {
    border-radius: 5px;
    width: 75px;
    height: 30px;
    font-size: 175%;
    text-align: center;
}

#feedback {
    text-align: center;
}

/* Hide number input arrows */
/* https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}