@import url(https://fonts.googleapis.com/css2?family=Roboto);

.button,
body {
    color: var(--colour-text)
}

.inline,
.number-input {
    font-size: min(10vw, 500%)
}

#start_screen p,
body {
    margin: 0
}

#content,
footer {
    position: absolute
}

#timer,
.centered_content,
.number-input,
footer {
    text-align: center
}

body {
    --colour-background: #f5f5f5;
    --colour-text: black;
    --colour-text-inverse: white;
    --colour-link: #525252;
    --colour-link-accent: #0043d1;
    --colour-background-surface: white;
    --colour-shadow: rgba(0, 0, 0, 0.33);
    font-family: Roboto, sans-serif;
    background-color: var(--colour-background)
}

@media (prefers-color-scheme:dark) {
    body {
        --colour-text: white;
        --colour-text-inverse: black;
        --colour-background: #2B2A33;
        --colour-link: #b7b7b7;
        --colour-link-accent: #64beff;
        --colour-background-surface: hsl(249, 10%, 35%);
        --colour-shadow: rgba(255, 255, 255, 0.33)
    }
}

.centered_content {
    padding: 20px
}

#start_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px
}

#content,
#response {
    display: flex;
    flex-direction: column
}

button {
    cursor: pointer
}

.button {
    padding: 10px;
    border: 3px solid gray;
    outline: 0;
    border-radius: 10px;
    box-shadow: var(--colour-shadow) 2px 3px 8px;
    transition: scale .5s, transform .5s, box-shadow .5s;
    background-color: var(--colour-background-surface)
}

.button:focus,
.button:hover {
    scale: 105%;
    transform: translateY(-1px)
}

.button:focus {
    box-shadow: 0 0 5px 3px var(--colour-link-accent)
}

.text_button {
    color: var(--colour-link);
    background: 0 0;
    border: none;
    outline: 0;
    text-decoration: underline
}

#end_button,
#settings_button {
    font-size: 1em
}

#start_button {
    width: 100px;
    height: 100px;
    font-size: 3em
}

.inline {
    display: inline
}

.number-input {
    border-radius: 5px;
    border: 3px solid gray;
    background-color: var(--colour-background-surface);
    color: var(--colour-text)
}

.link,
.link:visited {
    color: var(--colour-link)
}

#response {
    align-items: center;
    gap: 10px
}

#feedback {
    font-size: min(5vw, 250%);
    margin: 0
}

#feedback:after {
    content: '\200b'
}

#wanted-answer {
    text-decoration: underline;
    font-weight: 700
}

#content {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 75vw
}

footer {
    width: 100%;
    bottom: 10px;
    overflow: hidden;
    height: 20px
}

.link {
    padding: 15px;
    font-size: .9em
}

.link:focus,
.link:hover,
.text_button:focus,
.text_button:hover {
    color: var(--colour-link-accent)
}

.link:focus {
    outline: 0
}

.hidden {
    display: none !important
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: var(--colour-background);
    color: var(--colour-text);
    border: none
}

.modal_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400
}

.modal_content p {
    margin: 5px;
    font-size: min(8vw, 1.25em)
}

.modal_heading {
    font-size: min(8vw, 2em);
    margin: 10px
}

.modal_button {
    width: 100%;
    max-width: 200px;
    margin: 15px;
    font-size: min(10vw, 2em)
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield
}

#timer {
    font-size: 3em
}

#time-input {
    font-size: 2em;
    border-width: 2px
}

.question-type-label {
    display: none
}

.question-type-checkbox {
    appearance: none;
    outline: 0
}

.question-type-checkbox::after {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--colour-link);
    color: var(--colour-text-inverse);
    border-radius: 6px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s, scale .25s, border-radius .25s, box-shadow .25s, font-size .25s;
    border: none;
    box-shadow: var(--colour-shadow) 1px 2px 6px;
    content: "?"
}

.question-type-checkbox:checked:after {
    background-color: var(--colour-link-accent);
    transform: translatey(-1px)
}

.question-type-checkbox:focus::after,
.question-type-checkbox:hover::after {
    scale: 105%;
    border-radius: 7px;
    font-size: 3.14em
}

.question-type-checkbox:focus::after {
    box-shadow: 0 0 4px 2px var(--colour-link-accent)
}

.question-type-checkbox:checked:focus:after {
    box-shadow: 0 0 4px 2px var(--colour-link)
}

#question_type_checkbox_0::after {
    content: "+"
}

#question_type_checkbox_1::after {
    content: "−"
}

#question_type_checkbox_2::after {
    content: "×"
}

#question_type_checkbox_3::after {
    content: "÷"
}

#question_type_checkbox_4::after {
    content: "%"
}